;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-container {
  width: 80%;
}

strong {
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
}

li:hover {
  background-color: rgba(256,256,256,0.1);
}
li:before:hover {
  background-color: rgba(256,256,256,0.1);
}
li:not(:first-of-type)::before {
  padding-top: 12px;
}
